p.spacer {
	width: 100%;
	height: 1px;
	background: $bg-color-01;
	margin: 1.5rem 0;
};
nav.nav, ul.nav {
	a.nav-link.active {
		background-color: $text-color-01;
	};
	a.nav-link.active:hover, .nav-link.active:active, .nav-link.active:focus {
		background-color: $bg-color-01;
	};
	a.nav-link {
		color: $text-color-01;
	};
	a.nav-link:hover, .nav-link:focus {
		color: $bg-color-01;
	};
};