nav.nav.nav-pills.nav-stacked.col-md-2
	a.nav-link(href='#') Link
	a.nav-link(href='#') Link
	a.nav-link(href='#') Link
	a.nav-link(href='#') Link
	a.nav-link(href='#') Link
	a.nav-link(href='#') Link
